# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/
.idea
/out/
*.iml

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache


### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

## File-based project format:
*.iws

## Plugin-specific files:
